.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: black;
    /* width: 300px;
    margin: 0 auto; */
}
#heading{
    color: white;
    text-align: center;
    margin: 2em;
    font-size: 1emx;
}
.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.input-icon{
    height: 1.3em;
    width: 1.3em;
    fill: rgb(red, green, blue);
}
.input-field{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
}
.form .btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2.5em;
}
.button1{
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(to right, #ff105f, #ffad06);
    color: rgb(red, green, blue);
}
.button1:hover{
    background-image: linear-gradient(to right, #ffad06, #ff105f);
    color: rgba(255, 16, 95, 0.7);
}
.button2{
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    margin-left: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(to right, #11998e, #38ef7d);
    color: rgb(red, green, blue);
}
.button2:hover{
    background-image: linear-gradient(to right, #38ef7d, #11998e);
    color: rgba(56, 239, 125, 0.7);
}
.button3{
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    margin-left: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(to right, #396afc, #2948ff);
    color: rgb(red, green, blue);
}
.button3:hover{
    background-image: linear-gradient(to right, #2948ff, #396afc);
    color: rgba(41, 72, 255, 0.7);
}
.card{
    background-image: linear-gradient(to right, #434343, #000000);
    transition: all 0.2s;;
}
.card:hover{
    transform: scale(0.92);
    border-radius: 20px;
}
small,
p{
    color: white;
    text-align: center;
}
a{
    color: #ff105f;
    text-decoration: none;
    display: none;
}
textarea{
    resize: none;
}
.space{
    margin-top: 0.3rem;
}
.center{
    display: none;
    justify-content: center;
    align-items: center;
}
.loader{
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
}
.loader div{
    width: 8%;
    height: 16%;
    background: #ff105f;
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    animation: fade458 1s linear infinite;
}

@keyframes fade458 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}
.loader .bar1{
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
}
.loader .bar2{
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
}
.loader .bar3{
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
}
.loader .bar4{
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
}
.loader .bar5{
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
}
.loader .bar6{
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
}
.loader .bar7{
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
}
.loader .bar8{
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
}
.loader .bar9{
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
}
.loader .bar10{
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
}
.loader .bar11{
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
}
.loader .bar12{
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
}