.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: black;
    /* width: 300px;
    margin: 0 auto; */
}
#heading{
    color: white;
    text-align: center;
    margin: 2em;
    font-size: 1emx;
}
.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.input-icon{
    height: 1.3em;
    width: 1.3em;
    fill: rgb(red, green, blue);
}
.input-field{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
}
.form .btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 2.5em;
}
.button1{
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(to right, #ff105f, #ffad06);
    color: rgb(red, green, blue);
}
.button1:hover{
    background-image: linear-gradient(to right, #ffad06, #ff105f);
    color: rgba(255, 16, 95, 0.7);
}